.slide-img{
    height: 350px !important
}
.slider-text{
    background-color: #35443585 !important;
}
.noir{
    color:black;
}
.trending-img{
    height:100px;
}
.trending-item{
    float:left;
    width: 20%;
}
.trending-wrapper{
    margin:30px;
}
